@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.simon-app-body {
  text-align: center;
  background-color: #011f3f;
  height: 100vh;
  overflow: auto;
}

#simon-level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.simon-container {
  display: block;
  width: 50%;
  margin: auto;
}
.simon-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.simon-game-over {
  background-color: red;
  opacity: 0.8;
}

.simon-red {
  background-color: red;
}

.simon-green {
  background-color: green;
}

.simon-blue {
  background-color: blue;
}

.simon-yellow {
  background-color: yellow;
}

.simon-pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
